.slider{
    display: flex;
    width: 100vw;
    height: auto;
    margin: auto;
    overflow: hidden;
}

.slider .slide-track{
    display: flex;
    animation: scroll 10s linear infinite;
    -webkit-animation: scroll 10s linear infinite;
    width: calc(310px * 14);
}

.slider .slide{
    width: 310px;
}

.slider .slide img{
    width: 100%;
}

@keyframes scroll {
    0% {
        -webkit-transform: translateX(0);
        transform: translate(0);
    }
    100% {
        -webkit-transform: translate(calc(-200px * 7));
        transform: translateX(calc(-200 * 7));
    }
}